{% extends 'base.html'%}
{% block content %}
<div class="center">
    {% if positions %}
    <h2>Позиции для средств измерения</h2>
    <a class="block" href="{% url 'manometers:position-create' %}" role="button">Добавить</a>
    <div class="list">

        {% for position in positions|dictsort:'pk' %}
        <div class="info">
            <p class="block">{{ position.name }}</p>
            <p class="block">{{ position.group }}</p>
            <p class="block">{{ position.author }}</p>
            <a class="block" href="{% url 'manometers:position-delete' position.pk %}" role="button">Удалить</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2>Позиции для средств измерения отсутствуют</h2>
    <a class="block" href="{% url 'manometers:position-create' %}" role="button">Добавить</a>
    {% endif %}


</div>
{% endblock %}