{% extends 'base.html'%}
{% block content %}

<section class="product-box center">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div>
                <div>
                    <div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="button" type="submit">
                                Сохранить
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}